<div class="container">
    <div style="display: flex;     width: 100%; gap:15px">
        <div style="width: 50%;">
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Id:</div> 
                <div class="input" style="width: 100%;">
                    <input type="text" disabled>
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Partner:</div> 
                <div class="input" style="width: 100%;">
                    <input type="text" [(ngModel)]="newFacture.partner">
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Datum:</div>
                <div class="input" style="width: 100%;" >
                    <input type="date" [(ngModel)]="newFacture.datum">
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Iznos bez PDV:</div> 
                <div class="input" style="width: 100%;">
                    <input type="text" [(ngModel)]="newFacture.iznosBezPdv" disabled>
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Posto rabata:</div> 
                <div class="input" style="width: 100%;">
                    <input type="text" [(ngModel)]="newFacture.postoRabata" disabled>
                </div>
            </div>
        </div>
        <div style="width: 50%;">
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Rabat:</div> 
                <div class="input" style="width: 100%;">
                    <input type="text" [(ngModel)]="newFacture.rabat" disabled>
                </div>
            </div>
            <div style="display: flex; align-items: center;">
                <div class="text-div">Iznos sa rabatom bez PDV:</div> 
                <div class="input" style="width: 100%;">
                    <input type="text" [(ngModel)]="newFacture.iznosSaRabatomBezPdv" disabled>
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">PDV:</div> 
                <div class="input" style="width: 100%;">
                    <input type="text" [(ngModel)]="newFacture.pdv" disabled>
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Ukupno:</div>
                <div class="input" style="width: 100%;">
                    <input type="text" [(ngModel)]="newFacture.ukupno" disabled>
                </div>
            </div>
        </div>

    </div>
            
    <div>
        <Label style="color: darkgreen;
        font-weight: bold;
        font-size: 1.2rem;">Artikli:</Label>
        <div style="display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);">
        
        <div class="new-article">  
            <form #f="ngForm" name="form">
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Naziv:</div> 
                <div class="input" >
                    <input type="text" [(ngModel)]="newArticle.naziv" name="name">
                </div> 
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Količina:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="newArticle.kolicina" (ngModelChange)="kolicinaChange($event)" 
                    name="kolicina" 
                    (keydown)="onKeyDownEvent($event)">
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Cijena:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="newArticle.cijena" (ngModelChange)="cijenaChange($event)" name="cijena" 
                    (keydown)="onKeyDownEvent($event)">
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Iznos bez PDV:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="newArticle.iznosBezPdv" (ngModelChange)="iznosBezPdvChange($event)" name="iznosBezPdv"
                    (keydown)="onKeyDownEvent($event)">
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Posto rabata:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="newArticle.postoRabata" (ngModelChange)="postoRabataChange($event)" name="postoRabata"
                    (keydown)="onKeyDownEvent($event)">
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Rabat:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="newArticle.rabat" (ngModelChange)="rabataChange($event)" name="rabat"
                    (keydown)="onKeyDownEvent($event)">
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Iznos sa rabatom bez PDV:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="newArticle.iznosSaRabatomBezPdv" (ngModelChange)="iznosSaRabatomBezPdvChange($event)" 
                    name="iznostSaRabatomBezPdv" (keydown)="onKeyDownEvent($event)">
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">PDV:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="newArticle.pdv" (ngModelChange)="pdvChange($event)" name="pdv" (keydown)="onKeyDownEvent($event)">
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Ukupno:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="newArticle.ukupno" name="ukupno" disabled>
                </div>
            </div>
            
            <div *ngIf="!updateArticle" style="display: flex;
            justify-content: end;">
                <button type="button" style="    font-size: 1rem;
                padding: 0.2rem;
                /* padding: 0.2rem 0.7rem; */
                width: 5rem;" (click)="addInArticles()">Dodaj</button>
            </div>
            <div style="display: flex;
            justify-content: end; gap: 0.5rem;">
                <div *ngIf="updateArticle" style="display: flex;
            justify-content: end;">
                <button type="button" style="    font-size: 1rem;
                padding: 0.2rem;
                /* padding: 0.2rem 0.7rem; */
                width: 5rem;" (click)="odbaciIzmjene()">Odbaci</button>
                </div>
                <div *ngIf="updateArticle" style="display: flex;
            justify-content: end;">
                <button type="button" style="    font-size: 1rem;
                padding: 0.2rem;
                /* padding: 0.2rem 0.7rem; */
                width: 5rem;" (click)="sacuvajIzmjene()">Sačuvaj</button>
                </div>
            </div>
            
            </form> 
        </div>
        <div [ngClass]="{'new-article-update' : index==pomIndex}" class="new-article" *ngFor="let article of articles; let index=index">   
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;"> 
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Naziv:</div> 
                <div class="input" >
                    <input type="text" [(ngModel)]="article.naziv" 
                    disabled>
                </div> 
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Količina:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="article.kolicina" 
                    disabled>
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Cijena:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="article.cijena" 
                    disabled>
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Iznos bez PDV:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="article.iznosBezPdv" 
                    disabled>
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Posto rabata:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="article.postoRabata" 
                    disabled>
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Rabat:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="article.rabat" 
                    disabled>
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Iznos sa rabatom bez PDV:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="article.iznosSaRabatomBezPdv" 
                    disabled>
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">PDV:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="article.pdv" 
                    disabled>
                </div>
            </div>
            <div style="display: flex; padding-bottom: 0.3rem; align-items: center;">
                <div class="text-div">Ukupno:</div> 
                <div class="input" >
                    <input type="number" [(ngModel)]="article.ukupno" disabled>
                </div>
            </div>
            <div style="display: flex;     justify-content: end;
            gap: 0.5rem">
                <div style="display: flex;
            justify-content: end;">
                <button type="button" style="    font-size: 1rem;
                padding: 0.2rem;
                width: 5rem;" 
                (click)="update(article, index)"
                >Izmjeni</button>
            </div>
            <div style="display: flex;
            justify-content: end;">
                <button type="button" style="    font-size: 1rem;
                padding: 0.2rem;
                /* padding: 0.2rem 0.7rem; */
                width: 5rem;" (click)="removeFromArticles(index)">Obriši</button>
            </div>
            </div>
            
        </div>
    </div>
    </div>
    <div style="width: 100%;
    display: flex;
    justify-content: end; margin-top: 0.5rem;">
        <button class="btn" type="button" (click)="addFacture()">{{ buttonText }}</button>
    </div>
</div>