<div [ngClass]="{'containerMask' : add || update}" class="container">
    <div style="display: flex; margin-bottom: 1rem; margin-top: 1rem;">
        <label style="color: darkgreen;
    font-weight: bold;
    font-size: 1.2rem;">Fakture:</label>
    <div style="width: 100%;
    display: flex;
    justify-content: end; ">
        <button class="btn" type="button" (click)="Logout()">Odjavi se</button>
    </div>
    </div>
    <div style="padding: 0.5rem;">
        <button class="btn" type="button" (click)="addFacture()">Dodaj fakturu</button>
    </div>
    
    <div style="padding-bottom: 0.5rem;">
        <app-factureBase
         *ngFor="let facture of factures"
         [id]="facture.id"
         [datum]="facture.datum"
         [partner]="facture.partner"
         [iznosBezPdv]="facture.iznosBezPdv"
         [postoRabata]="facture.postoRabata"
         [rabat]="facture.rabat"
         [iznosSaRabatomBezPdv]="facture.iznosSaRabatomBezPdv"
         [pdv]="facture.pdv"
         [ukupno]="facture.ukupno"
         [artikli]="facture.artikli"
         (removeFacture) = "deleteFacture(facture.id)"
         (updateFacture) = "updateFacture(facture.id)"
         ></app-factureBase>
    </div>
    <div *ngIf="add || update" class="mask" (click)="closeWindow()">
        <div *ngIf="add || update" class="add-facture" style="height: 80%" (click)="$event.stopPropagation()">
            <app-addFacture 
            [idUpdate]="idUpdate"
            (closeAdd)="closeAddFacture()"
            (closeUpdate)="closeUpdateFacture()"
            ></app-addFacture>
        </div>
    </div>
</div>